<main class="container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-table [dataSource] = "users">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.firstName}} {{user.lastName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="occupation">
            <mat-header-cell *matHeaderCellDef> Occupation </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.occupation}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="detailsAction">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let user"> <a routerLink="/user/{{user.id}}"> Details </a> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="updateaAction">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let user"> <a routerLink="/user/{{user.id}}/edit"> Update </a> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="deleteAction">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let user"> <a routerLink="/user/{{user.id}}/delete"> Delete </a></mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
    </mat-table>
      
  </main>
