/* You can add global styles to this file, and also import other style files */
h1{
    text-align: center;
    text-transform: uppercase;
    padding: 4vh;
}
a, a:visited{
    text-decoration: none;
    color:rgb(52, 22, 80)

}
